*{
    box-sizing:border-box;
}

body{
    background:#f4f6f9;
    font-family: 'Inter', sans-serif;
}

/* NAVBAR */
.navbar{
    background:#1565c0;
    padding:14px 0;
}

.navbar-brand img{
    height:42px;
}


.nav-link{
    position:relative;
    color:#fff !important;
    font-weight:500;
    padding-bottom:6px;
}

/* Línea animada */
.nav-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:0%;
    height:2px;
    background:#fff;
    transition:width .25s ease;
}

/* Hover elegante */
.nav-link:hover::after{
    width:100%;
}

/* Estado activo */
.nav-link.active::after{
    width:100%;
}

/* HERO */
.hero{
    text-align:center;
    padding:70px 20px 30px;
}

.hero h1{
    font-weight:700;
    letter-spacing:.4px;
}

.hero p{
    color:#6b7280;
}

/* CARD */
.car-card{
    border:none;
    border-radius:16px;
    transition:.25s ease;
    padding:18px !important;
    will-change: transform;
}

.car-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

/* DESCRIPTION */
.car-title{
    font-weight:700;
    letter-spacing:1px;
    font-size:1.1rem;
    margin-top:10px;
    text-align: justify;
}

.car-category{
    color:#6b7280;
    font-size:.95rem;
    display:flex;
    justify-content:space-between;
    margin-bottom:12px;
}

.car-code{
    color:#9ca3af;
    font-weight:600;
}

.car-features{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:6px;
    margin-bottom:14px;
}

.feature{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:.9rem;
    color:#4b5563;
}

/* PRICE */
.price-tag{
    background:#8bc34a;
    padding:6px 16px;
    border-radius:20px;
    font-weight:700;
}

/* BUTTON */
.btn-rent{
    background:#1565c0;
    color:#fff;
    border-radius:28px;
    padding:11px;
    font-weight:600;
    transition:.2s;
    box-shadow:0 6px 18px rgba(21,101,192,.25);
}

.btn-rent:hover{
    background:#0d47a1;
    color:#fff;
    transform:translateY(-2px);
}

/* TABLE */
.table th,
.table td{
    white-space:nowrap;
}

.table td:last-child{
    min-width:140px;
}

/* CART */
.cart-btn{
    background:#fff;
    border:none;
    border-radius:25px;
    padding:6px 14px;
    font-weight:600;
}

#cartItems{
    padding:0;
}

.cart-total{
    font-size:1.2rem;
    font-weight:700;
}

.cart-section input[type="number"]{
    width:70px;
}

/* FOOTER */
footer{
    background:#0d47a1;
    color:#fff;
    padding:30px 0;
    margin-top:70px;
}

@media(max-width:768px){

  .cart-box{
      padding:18px;
  }

  .table{
      font-size:.9rem;
  }

  .btn-sm{
      padding:.25rem .5rem;
  }

}
